@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./assets/images/bg.avif);
}

.nav-item {
  @apply flex  justify-center items-center gap-2  w-28 h-10  bg-slate-700 rounded-md text-white;
}

.active .nav-item {
  @apply bg-primary;
}

.active .txt {
  @apply text-primary;
}

.active .mobile-nav-item {
  @apply font-extrabold;
}

.mobile-nav-item {
  @apply py-3 my-1 text-white px-10  text-xl;
}

.mobile-nav-item {
  @apply hover:bg-gray-700;
}

.icon {
  @apply bg-slate-700 p-1 text-3xl rounded-md cursor-pointer
    hover:scale-125 transition duration-200 ease-in-out;
}

.btn {
  @apply bg-primary px-6 rounded-xl py-2 text-white;
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}

@media only screen and (width: 600px) {
  .project-details {
    margin-top: 70px;
    width: 90%;
    height: auto;
    position: relative;
    background: black;
    border-radius: 5px 0px 5px 5px;
    box-shadow: rgba(245, 241, 241, 0.07) 0px 0px 50px 20px;
  }
}
